*{
    margin: 0;
    padding: 0;
}

body{
    background: #F3F5FC;
}

header{
    width: 100%;
    height: 50px;
    padding: 0.5%;
}

main{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

section{
    width: 40%;
    height: 100%;
    
}

.primeraseccion{
    width: 70%;

}

.areatexto{
    background: #F3F5FC;
    border: none;
    width: 80%;
    height: 70%;
    margin: auto;
    margin-top: 40px;
    display: block;
    resize: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #0A3871;
    outline:none !important;
    outline-offset: 0;
    

}




.parrafo-aclaracion{
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Gray/gray-400 */

    color: #495057;

    opacity: 0.8;
}

.btn-encriptar{
    width: 25%;
    height: 40px;
    background: #0A3871;
    border-radius: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;

    /* White */

    color: #FFFFFF;

    /* Button */


    /* Auto layout 

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;*/

    /* Dark blue/dark-blue-300 */


    /* Inside auto layout 

    flex: none;
    order: 0;
    flex-grow: 0;*/
}

.btn-desencriptar{
    width: 25%;
    height: 40px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;

    /* 
    Auto layout 

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Light gray */

    

    /* Inside auto layout 

    flex: none;
    order: 1;
    flex-grow: 0;*/
}

.cont-button{
    margin-left: 100px;
    margin-top: 30px;
}

.segundaseccion{
    height: 94%;
    width: 20%;
    background-color: white;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin-right: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.cont-muneco{
    /*padding: 2%;*/
    width: 100%;
    height: 60%;
    padding-top: 85px;
    box-sizing: border-box;
    overflow: auto;
}

.cont-titulo{
    /*padding-top: 50px;*/
    width: 100%;
    height: 20%;
    text-align: center;
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.cont-instruccion{
    width: 100%;
    height: 20%;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #495057;
}


.cont-txt-encriptado{
    width: 100%;
    height: 70%;
    padding: 25px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;


    /* Gray/gray-400 */

    color: #495057;
}

.cont-txt-desencriptado{
    width: 100%;
    height: 70%;
    padding: 25px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    


    /* Gray/gray-400 */

    color: #495057;
}

.txt-encriptado{
    margin-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /*line-height: 150%;*/
/* or 36px */


/* Gray/gray-400 */

    color: #495057;
}

.cont-btn-copiar{
    width: 100%;
    height: 20%;
}

.btn-copiar{
    width: 80%;
    height: 40px;
    display: block;
    margin: auto;
    margin-top: 116px;
    border: 1px solid #0A3871;
    
    /* White */

    background: #F3F5FC;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;


}
footer{
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0A3871;
    
}

.ocultar {
    display: none;
}

